streamlit
audio_recorder_streamlit
AudioRecorder
streamlit-audiorec
streamlit-audiorecorder
streamlit-chat
streamlit-mic-recorder
deep-translator
gTTS
langchain
langchain-openai
numpy
pandas
openai
python-dotenv
requests
streamlit_chat
textblob
SpeechRecognition
uuid
